__pycache__/
build/
*.egg-info/
*.so
*.mp4

tmp*
trial*/

data
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
*.mp4
.DS_Store
workspace/log_ngp.txt
.idea
models/
*.log
dist
video_source/
full_body_img/
landmarks
*.lms
*.jpg
*.png
ultralight/results/avatars/ultralight_avatar1/coords.pkl
ultralight/results/avatars/ultralight_avatar1/ultralight.pth
